#map {
    background: white;
}

#hud {
    color: black;
}

.hide-checkbox + label {
    color: black;
    background-color: white;
}

.hide-checkbox:checked + label {
    background-color: black;
    color: white;
}

#level_display {
    color: black;
    background-color: white;
    width: 50px;
    text-align: center;
}

input[type='range']:nth-of-type(1) {
  color: black;
}